*{
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3eee5;
}

body::-webkit-scrollbar {
    width: 12px;          
}

body::-webkit-scrollbar-track {
    background: #ac4d0c;       
}

body::-webkit-scrollbar-thumb {
    background: #ebbb61;       
    border-radius: 20px;       
    border: 3px solid #ac4d0c;  
}

.line-1{
    color: #60817a;
    font-size: 18px;
    text-align: center;
}

/*Navigation*/
nav{
    display: flex;
    padding: 20px 20px;
    background-color: #ac4d0c;
}

.element-1{
    margin-right: 30px;
}

.element-1 a{
    color: #f3eee5;
    font-size: 20px;
    text-decoration: none;

    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.element-1 a:hover{
    color: #60817a;
    text-decoration: underline;
}

/*Galery*/
.line-1{
    background-color: #ebbb61;
    width: 100%;
    height: 20px;
}

.galery{
    overflow: hidden;
    text-align: center;
}

.galery h2{
    color: #f3eee5;
    background-color: #ebbb61;
    width: 400px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slide-1{
    display: none;
    width: 100%;
    height: 450px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

.slide-2{
    display: none;
    width: 100%;
    height: 450px;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}

.slide-3{
    display: none;
    width: 100%;
    height: 450px;
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
}

.slide-4{
    display: none;
    width: 100%;
    height: 450px;
    background-image: url(../img/img4.jpg);
    background-size: cover;
    background-position: center;
}

.back, .next{
    position: absolute;
    padding: 16px;
    top: 50%;
    margin-top: -170px;
    width: auto;

    color: #ffffff;
    font-weight: bold;
    font-size: 60px;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0 3px 3px 0;
}

.back:hover, .next:hover{
    color: #60817a;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Content*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    color: #000000;
    font-size: 20px;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.element-2{
    margin-left: 20px;
}

.row-2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.row-3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

@media screen and (min-width: 900px) {
    .content img{
        object-fit: cover;
        width: 400px;
    }
    .description{
        width: 600px;
    }
    
    .row-3 iframe{
        height: 200px;
    }

}

@media screen and (max-width: 900px) {
    .content img{
        object-fit: cover;
        width: 270px;
    }
    .row-2 iframe{
        width: 300px;
    }
    
    .row-3 iframe{
        width: 300px;
    }
}

/*Contacts*/

.contacts{
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 30px;

    background-color: #ac4d0c;
    
}

@media screen and (min-width: 900px) {
    .contacts{
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .contacts{
        font-size: 16px;
    }
}